@use "../../styles/variables.scss" as *;

.backlinks {
  flex-direction: column;

  & > h3 {
    line-height: 2rem;
    font-size: 1rem;
    margin: 0;
  }

  & > ul.overflow {
    list-style: none;
    padding: 0;
    margin-top: 0.5rem;
    max-height: calc(100% - 2rem);
    overscroll-behavior: contain;

    & > li {
      & > a {
        background-color: transparent;
      }
    }
  }
}
